# Dependencies
node_modules/
package-lock.json

# Build Artifacts
target/
dist/
**/*.so
**/*.dummy

# Environment & Secrets
.env
.env.*
.DS_Store
*.key
*.json

# Exceptions (Allow these specific JSONs)
!package.json
!tsconfig.json
!excelsior.json
!luxor.json

# Framework Configs
!Anchor.toml

# Allowed Configs
!web-admin/lib/wallet-addresses.json
!web-admin/lib/idl.json
!web-landing/messages/*.json

# IDE settings
.vscode/
.idea/

# Specific Wallet Folders (Redundant but safe)
wallets/
ledger/
.anchor/

# Specific Root Secrets
saved_keypair.json
test-ledger/
